body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Custom CSS */

input {
  display: block;
  width: 400px;
  margin: 20px auto;
  height: 20px;
  padding: 5px;
  border-radius: 8px;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: inline;
  margin: 10px 18px 20px;
  padding: 10px;
  border-radius: 8px;
  outline: none;
}

.form-clicked {
  transform: scale(0.0);
  display: none;
  opacity: 0;
  /* height: 1px; */
  /* transition: display 500ms linear 500ms, opacity 500ms; */
}

.none {
  display: none;
}

.fa {
  color: aqua;
  font-size: 60px;
}

/* Code Snippets */

.raw, .signed {
  min-width: 400px;
  max-width: 700px;
  background-color: aliceblue;
  margin: auto;
  overflow: scroll;
  text-align: left;
  font-size: 12px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

/* Validator */

.validator-fadein {
  visibility: visible;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.validator {
  background-color: aliceblue;
  min-width: 300px;
  width: 60%;
  min-height: 300px;
  height: 700px;
  margin: 50px auto;
  position: relative;
}

.AC {
  background-color: aliceblue;
  border: 2px solid black;
  position: absolute;
  margin-top: -40px;
  margin-left: 10px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.VM {
  background-color: aliceblue;
  border: 2px solid black;
  position: absolute;
  margin-top: 100px;
  margin-left: 10px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.mempool {
  background-color: aliceblue;
  border: 2px solid black;
  position: absolute;
  right: 0;
  margin-top: 15px;
  margin-right: 10px;
  height: 80%;
  padding: 10px;
  overflow: scroll;
  width: 180px;
}

.tx-list {
  text-align: left;
}

.execution {
  background-color: aliceblue;
  border: 2px solid black;
  position: absolute;
  margin-top: 100px;
  margin-left: 40%;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.tx-script-box {
  border: 2px solid black;
  margin-top: 10px;
}

.consensus {
  background-color: aliceblue;
  border: 2px solid black;
  position: absolute;
  bottom: 50px;
  margin-left: 10px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.storage {
  background-color: aliceblue;
  border: 2px solid black;
  position: absolute;
  bottom: 100px;
  margin-left: 40%;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}